body {
    font-family: Arial, sans-serif;
    background: linear-gradient(black, #666699);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.countdown-container {
    text-align: center;
    color: black;
    font-weight: 400;
}

#countdown {
    font-size: 2em;
    color: wheat;
    font-weight: 400;
}